.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
}

.input-window {
    grid-column: 1 / -1;
    text-align: end;
}

#clear {
    grid-column: span 2;
}

#zero {
    grid-column: span 2;
}